* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.header-container {
  margin-bottom: 2rem;
  background-color: #aad1d6;
  padding-bottom: 1rem;
}

h1 {
  font-size: 5rem;
  color: #7a59e4;
  font-weight: 800;
}

.navigation-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
}

.navigation-item {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #aad1d6;
  font-size: 1.3rem;
}

.article-container {
  margin: 2rem;
}

.article-list {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.article-list-item {
  list-style: none;
  margin: 1rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  justify-content: center;
  background-color: #aad1d63b;
}

.article-title {
  text-align: left;
  background-color: #aad1d6;
  padding: 1rem;
  color: #7a59e4;
  font-size: 1.4rem;
  font-weight: 800;
}

.article-info {
  display: grid;
  padding: 2rem;
  grid-template-columns: 200px 300px;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.article-info dt {
  text-align: left;
  padding-top: 1rem;
}

@media (max-width: 650px) {
  .article-info {
    display: block;
  }
}

#article-list-image {
  max-width: 100%;
  height: auto;
}
