.App {
  text-align: center;
}

.header-container {
  margin-bottom: 2rem;
}

.navigation-container {
  margin: 1rem;
}

.navigation-item {
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
}

.article-container {
  margin: 2rem;
}

.article-list {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.article-list-item {
  list-style: none;
  flex: 0 1 80%;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
}

.article-title {
  text-align: left;
}

.article-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  text-align: left;
}
